.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.home-img {
  width: 100%;
}

.landing-page {
  width: 100%;
}

.navbar-img {
  width: 100%;
}

.work-area{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0px;
}

.img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.head{
  text-transform: uppercase;
  color: #606060;
  font-size: 14px;
  font-weight: 800;
  text-align: center;
  margin: 0px;
}

.body{
  font-size: 14px;
  font-weight: 500;
  color: #7a7a7a;
  text-align: center;
}

.read{
  text-transform: uppercase;
  background-color: #dedede;
  padding: 11px;
  border: none;
}

.flex-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 20px;
}

.special-letter{
  font-size: 26px;
  font-weight: 800;
  color: #00a99d;
}

.powerful-letter{
  font-size: 26px;
  color: #00a99d;
  font-weight: 800;
}

.letter{
  font-size: 26px;
  font-weight: 800;
  color: #383838;
  padding: 0px 15px;
  margin: 0px;
}

.powerful{
  font-size: 26px;
  font-weight: 800;
  color: #e4e4e4;
  padding: 0px 15px;
  margin: 0px;
}

.lines{
  display: flex;
  flex-direction: column;
}

.line{
  margin: 1px 1px;
}

.left-img {
  transform: rotate(180deg);
}

.img{
  padding: 0px 10px;
}

.description{
  font-size: 16px;
  font-weight: 500;
  color: #8a8a8a;
  text-align: center;
}

.works-area {
  background-color: #383838;
  width: 100%;
  padding: 15px 0px;
}

.works {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-works {
  margin: 20px 0px;
  background-color: #00a99d;
  height: 40px;
  border-radius: .25rem;
  color: #fff;
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid #ced4da;
  margin-bottom: 0px;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.skills {
  background-color: #383838;
}

.skill-title{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 20px;
  padding-top: 20px;
}

.skill-desc{
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #606060;
  margin: 10px 0px;
}

.shapes{
  width: 120px;
  height: 120px;
  object-fit: contain;
  padding-bottom: 10px;
  position: relative;
}

.words{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #e4e4e4;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}

.div-shapes{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0px;
}

.individual{
  margin: 10px 0px;
}

.desc{
  font-size: 14px;
  color: #8a8a8a;
  line-height: 1.14;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  margin: 0px 10px;
}

.skill-img{
  width: 40px;
  height: 50px;
  padding: 10px;
}

.skill-tag{
  display: flex;
  margin: 20px 0px;
}

.sub-skills{
  display: flex;
}

.skills-title{
  font-size: 14px;
  font-weight: 800;
  color: #606060;
  margin: 0px;
  text-align: start;
  padding-left: 10px;
  text-transform: uppercase;
}

.skills-desc {
  font-size: 12px;
  font-weight: 500;
  color: #aaaaaa;
  text-align: start;
  padding-left: 10px;
}

.skill-sub-desc {
  color: #7a7a7a;
  font-size: 14px;
  font-weight: 500;
  margin: 0px;
  padding-left: 10px;
  text-align: start;
}

.title {
  font-size: 60px;
  color: #00a99d;
  text-align: left;
}

.register {
  padding: 0px 20px;
}

.input-field{
  margin: 15px 0px;
}

.button-register {
  background-color: #00a99d;
  height: 40px;
  border-radius: .25rem;
  color: #fff;
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid #ced4da;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-interest {
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 20px;
}

.ceo {
  background-color: #00a99d;
  padding: 20px 0px;
}

.test {
  display:flex;
  justify-content: center;
}

.ceo-div{
  background-color: #e4e4e4;
  width: 247px;
  border-radius: 5px;
  text-align: center;
}

.ceo-name {
  font-size: 12px;
  font-weight: 500;
  color: #aaaaaa;
  text-align: center;
  text-transform: uppercase;
  margin: 0px;
}

.ceo-title{
  font-size: 13px;
  font-weight: 800px;
  color: #00a99d;
  margin: 0px;
}

.text {
  padding: 10px 0px;
  text-align: center;
  color: #e4e4e4;
  font-size: 20px;
  font-weight: 500;
}

.footer{
  background-color: #383838;
  padding: 20px 0px;
}

.footer-text {
  color: #cccccc;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  margin: 0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width:837px) {
  .letter{
    font-size: 20px;
  }

  .special-letter {
    font-size: 20px;
  }
}

@media screen and (max-width:768px) {
  .letter {
    font-size: 14px;
  }

  .special-letter{
    font-size: 14px;
  }
}

@media screen and (max-width:470px) {
  .letter {
    font-size: 8px;
  }

  .special-letter{
    font-size: 8px;
  }

  .powerful{
    font-size: 8px;
  }

  .powerful-letter{
    font-size: 8px;
  }

  .title{
    font-size: 25px;
  }
}
